#navbar ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-evenly; */
    align-items: center;
}

body{
    background-color: rgb(7, 88, 88);
    color: blue;
}